@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "Dashboard";
}

@section Styles {
    <style>
        body {
            background: linear-gradient(0deg, #ff930f 0%, #fff95b 100%);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<div class="card shadow border-0 mt-4">
    <div class="card-body">
        <div class="text-center py-5">
            <div class="text-muted mb-3">
                <i class="fa-solid fa-hand fa-3x text-secondary opacity-50"></i>
            </div>
            <h4 class="fw-semibold text-secondary">Work in Progress</h4>
            <p class="text-muted small">This site is currently under construction.</p>
        </div>

    </div>
</div>